.page-header {
  border-bottom: none;
}

.navbar-default{
    background-color: rgba(238, 177, 17, 0.8);
	outline: #000000 solid thin;
}

.navbar-default .navbar-brand{
    color: #333;
}

.navbar-default .navbar-toggle {
  border: none;
}

.floating-text{
  background: rgba(238, 177, 17, 0.8);
  color: #696969;
  /*font-family: 'Lato';*/
  font-weight: 400;
  font-size: 200%;
}

.nav-style{
  border-radius: 0px;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-collapse{
  border-top: 0px;
}

.page {
  background-color: rgba(238, 177, 17, 0.0);
  outline: #000000 solid thin;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  padding-top:1%;
  position: relative;
  max-width: 95%;
}

.tablepage {
	background-color: rgba(238, 177, 17, 0.0);
    outline: #000000 solid thin;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top:1%;
    position: relative;
    max-width: 95%;
}

tr, td, th {
	font-size: 10px;
}

.table-bordered td{
   border-color: black;
}

textarea:focus, input:focus{
    outline: none;
}
